* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: coral; */
  background-color: black;
  background-attachment: fixed;
  color: #ffffff;
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto 200px;
}
.container {
  justify-content: space-around;
  width: 900px;
  border: 1px solid black;
}
